# Introduction 
With the use of high school data compiled from the New York City Department of Education, and the SAT score averages and testing rates provided by the College Board, we analyse and discuss whether a student's high school and borrough affects the SAT score he gets through college board. SAT scores are standardized tests taken by the college board (an independent board) that are used by students to apply for college after highschool. The score a child gets greatly impacts his/her chance in getting into college and their future. Though the new SAT tests have changed their format to 1600 points (Math: 800, Reading: 400, Writing: 400), however, we will be using data from the older format which gives us almost the same results (Math: 800, Reading: 800, Writing: 800). The main emphasis in the project is to find connections in whether some boroughs or highschools in New York City do better than others and discuss the factors that lead to these differences. Finding differences would be extremely interesting as one can infer how getting into certain public highschools or going for schooling in certain areas of the city would impact the college a child gets into.

Our data is very comprehensive, and to answer our question: (Y Variable) whether borough or high school impact the SAT score a child gets, we will use different variables. One of our variable (X_1) will be borough, the second will be Average SAT Reading Scores (X_2), Average SAT Math Scores (X_3), Average SAT Reading Scores (X_4). With the use of these variables we will try to develop an analysis on whether the borough you live in around NYC would give certain students a natural advantage.

In [1]:
import pandas as pd
import qeds
%matplotlib inline
# activate plot theme
import qeds
qeds.themes.mpl_style();

from IPython.display import display
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

First we are Reading the data and creating a dataframe 'df' and then running our dataframe.

In [2]:
df = pd.read_csv(r"C:\Users\Anwar Malik\Desktop\UofT\Year 2\ECO225\ECO225Project\Data\scores.csv")
df

,School ID,School Name,Borough,Building Code,Street Address,City,State,Zip Code,Latitude,Longitude,...,End Time,Student Enrollment,Percent White,Percent Black,Percent Hispanic,Percent Asian,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),Percent Tested
0,02M260,Clinton School Writers and Artists,Manhattan,M933,425 West 33rd Street,Manhattan,NY,10001,40.75321,-73.99786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06M211,Inwood Early College for Health and Informatio...,Manhattan,M052,650 Academy Street,Manhattan,NY,10002,40.86605,-73.92486,...,3:00 pm,87.0,3.40%,21.80%,67.80%,4.60%,NaN,NaN,NaN,NaN
2,01M539,"New Explorations into Science, Technology and ...",Manhattan,M022,111 Columbia Street,Manhattan,NY,10002,40.71873,-73.97943,...,4:00 pm,1735.0,28.60%,13.30%,18.00%,38.50%,657.0,601.0,601.0,91.00%
3,02M294,Essex Street Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,2:45 pm,358.0,11.70%,38.50%,41.30%,5.90%,395.0,411.0,387.0,78.90%
4,02M308,Lower Manhattan Arts Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,3:00 pm,383.0,3.10%,28.20%,56.90%,8.60%,418.0,428.0,415.0,65.10%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,27Q302,"Queens High School for Information, Research, ...",Queens,Q465,8-21 Bay 25th Street,Far Rockaway,NY,11691,40.60199,-73.76283,...,4:10 pm,381.0,2.10%,49.10%,43.60%,4.20%,372.0,362.0,352.0,44.60%
431,27Q324,Rockaway Park High School for Environmental Su...,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:30 pm,368.0,14.70%,46.70%,30.20%,3.50%,357.0,381.0,376.0,38.50%
432,27Q262,Channel View School for Research,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:04 pm,683.0,10.70%,53.20%,29.10%,6.00%,427.0,430.0,423.0,76.60%
433,27Q351,Rockaway Collegiate High School,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,4:20 pm,397.0,3.80%,52.60%,33.50%,5.00%,399.0,403.0,405.0,46.50%
434,27Q323,Scholars' Academy,Queens,Q180,320 Beach 104th Street,Rockaway Park,NY,11694,40.58413,-73.82568,...,3:00 pm,1302.0,34.70%,22.70%,19.60%,21.40%,588.0,560.0,568.0,99.20%

# Data Cleaning
To start our analysis we need to do certain steps to clean our data and convert it into something that we will find easier to interpret. Since we care about SAT scores and the distribution of different ethnic groups in each high school, we will need to clean this data and remove the '%' sign and convert all percentages and SAT scores in to float.

In the cell below we clean the data remove the '%' sign from the data. Using string methods we removed the percentage sign.

In [3]:
df2 = df.replace('%','',regex=True)

In [4]:
df2

,School ID,School Name,Borough,Building Code,Street Address,City,State,Zip Code,Latitude,Longitude,...,End Time,Student Enrollment,Percent White,Percent Black,Percent Hispanic,Percent Asian,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),Percent Tested
0,02M260,Clinton School Writers and Artists,Manhattan,M933,425 West 33rd Street,Manhattan,NY,10001,40.75321,-73.99786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06M211,Inwood Early College for Health and Informatio...,Manhattan,M052,650 Academy Street,Manhattan,NY,10002,40.86605,-73.92486,...,3:00 pm,87.0,3.40,21.80,67.80,4.60,NaN,NaN,NaN,NaN
2,01M539,"New Explorations into Science, Technology and ...",Manhattan,M022,111 Columbia Street,Manhattan,NY,10002,40.71873,-73.97943,...,4:00 pm,1735.0,28.60,13.30,18.00,38.50,657.0,601.0,601.0,91.00
3,02M294,Essex Street Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,2:45 pm,358.0,11.70,38.50,41.30,5.90,395.0,411.0,387.0,78.90
4,02M308,Lower Manhattan Arts Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,3:00 pm,383.0,3.10,28.20,56.90,8.60,418.0,428.0,415.0,65.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,27Q302,"Queens High School for Information, Research, ...",Queens,Q465,8-21 Bay 25th Street,Far Rockaway,NY,11691,40.60199,-73.76283,...,4:10 pm,381.0,2.10,49.10,43.60,4.20,372.0,362.0,352.0,44.60
431,27Q324,Rockaway Park High School for Environmental Su...,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:30 pm,368.0,14.70,46.70,30.20,3.50,357.0,381.0,376.0,38.50
432,27Q262,Channel View School for Research,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:04 pm,683.0,10.70,53.20,29.10,6.00,427.0,430.0,423.0,76.60
433,27Q351,Rockaway Collegiate High School,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,4:20 pm,397.0,3.80,52.60,33.50,5.00,399.0,403.0,405.0,46.50
434,27Q323,Scholars' Academy,Queens,Q180,320 Beach 104th Street,Rockaway Park,NY,11694,40.58413,-73.82568,...,3:00 pm,1302.0,34.70,22.70,19.60,21.40,588.0,560.0,568.0,99.20

Our emphasis is to determine whether certain boroughs may have higher SAT scores, as a result, we calulate the percentage of each borough in our data.

In [5]:
df2['Borough'].value_counts()

Brooklyn         121
Bronx            118
Manhattan        106
Queens            80
Staten Island     10
Name: Borough, dtype: int64

In [6]:
df2['Borough'].value_counts(normalize= True)

Brooklyn         0.278161
Bronx            0.271264
Manhattan        0.243678
Queens           0.183908
Staten Island    0.022989
Name: Borough, dtype: float64

We will now remove any rows that contain missing data. This will allow us to interpret our data much easily when we run our analysis.

In [13]:
df2.dropna()

,School ID,School Name,Borough,Building Code,Street Address,City,State,Zip Code,Latitude,Longitude,...,End Time,Student Enrollment,Percent White,Percent Black,Percent Hispanic,Percent Asian,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),Percent Tested
2,01M539,"New Explorations into Science, Technology and ...",Manhattan,M022,111 Columbia Street,Manhattan,NY,10002,40.71873,-73.97943,...,4:00 pm,1735.0,28.60,13.30,18.00,38.50,657.0,601.0,601.0,91.00
3,02M294,Essex Street Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,2:45 pm,358.0,11.70,38.50,41.30,5.90,395.0,411.0,387.0,78.90
4,02M308,Lower Manhattan Arts Academy,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,3:00 pm,383.0,3.10,28.20,56.90,8.60,418.0,428.0,415.0,65.10
5,02M545,High School for Dual Language and Asian Studies,Manhattan,M445,350 Grand Street,Manhattan,NY,10002,40.71687,-73.98953,...,3:35 pm,416.0,1.70,3.10,5.50,88.90,613.0,453.0,463.0,95.90
6,01M292,Henry Street School for International Studies,Manhattan,M056,220 Henry Street,Manhattan,NY,10002,40.71376,-73.98526,...,3:30 pm,255.0,3.90,24.40,56.60,13.20,410.0,406.0,381.0,59.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,27Q302,"Queens High School for Information, Research, ...",Queens,Q465,8-21 Bay 25th Street,Far Rockaway,NY,11691,40.60199,-73.76283,...,4:10 pm,381.0,2.10,49.10,43.60,4.20,372.0,362.0,352.0,44.60
431,27Q324,Rockaway Park High School for Environmental Su...,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:30 pm,368.0,14.70,46.70,30.20,3.50,357.0,381.0,376.0,38.50
432,27Q262,Channel View School for Research,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,3:04 pm,683.0,10.70,53.20,29.10,6.00,427.0,430.0,423.0,76.60
433,27Q351,Rockaway Collegiate High School,Queens,Q410,100-00 Beach Channel Drive,Rockaway Park,NY,11694,40.58601,-73.82309,...,4:20 pm,397.0,3.80,52.60,33.50,5.00,399.0,403.0,405.0,46.50
434,27Q323,Scholars' Academy,Queens,Q180,320 Beach 104th Street,Rockaway Park,NY,11694,40.58413,-73.82568,...,3:00 pm,1302.0,34.70,22.70,19.60,21.40,588.0,560.0,568.0,99.20

In [27]:
df2['Percent White'] = df2['Percent White'].astype(float)
df2['Percent Black'] = df2['Percent Black'].astype(float)
df2['Percent Hispanic'] = df2['Percent Hispanic'].astype(float)
df2['Percent Asian'] = df2['Percent Asian'].astype(float)
df2['Non-White'] = df2['Percent Black'] +  df2['Percent Hispanic'] + df2['Percent Asian']
df2['Percent Tested'] = df2['Percent Tested'].astype(float)

# Summary Statistics 
Part of our analysis is to determine whether certain boroughs have lower SAT scores than others. An important inferance we hope to make is whether regions with higher immigrated or non-white populations might be at a disadvantage and getting lower SAT scores. The reasons could be poor infrastructure, lack of resources and equal opportunities. Hence, we will analyse and create a summary statistics.

As a result, we will use the data we have of percentage of each populations and the average SAT scores to see whether there is correlation between a borrough with a high white population and a low white population.

In [28]:
df2.describe()

,Zip Code,Latitude,Longitude,Student Enrollment,Percent White,Percent Black,Percent Hispanic,Percent Asian,Average Score (SAT Math),Average Score (SAT Reading),Average Score (SAT Writing),Percent Tested,Non-White
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,10736.066845,40.742754,-73.923427,756.459893,8.524599,35.387166,43.929679,10.412567,432.719251,424.342246,418.286096,64.735294,89.729412
std,537.245046,0.082434,0.071961,774.287044,13.359205,25.367159,24.495584,14.400556,71.916833,61.884529,64.548388,18.860023,13.840014
min,10002.000000,40.528230,-74.192150,142.000000,0.000000,0.000000,2.600000,0.000000,317.000000,302.000000,284.000000,18.500000,18.700000
25%,10306.000000,40.684780,-73.979260,397.250000,1.300000,16.400000,20.825000,1.600000,386.000000,386.000000,382.000000,50.725000,88.975000
50%,10472.000000,40.739755,-73.927510,482.500000,2.600000,28.750000,45.300000,4.200000,414.000000,412.500000,402.500000,63.800000,95.700000
75%,11217.000000,40.820995,-73.887532,660.500000,9.375000,50.100000,63.375000,11.150000,457.250000,444.500000,436.000000,79.500000,97.375000
max,11694.000000,40.888370,-73.726910,5447.000000,79.900000,91.200000,100.000000,88.900000,754.000000,697.000000,693.000000,100.000000,100.000000

In [29]:
df2['Borough']

2      Manhattan
3      Manhattan
4      Manhattan
5      Manhattan
6      Manhattan
         ...
430       Queens
431       Queens
432       Queens
433       Queens
434       Queens
Name: Borough, Length: 374, dtype: object